.link {
  width: 70%;
  margin: 40px 15%;
  h1 {
    margin: 20px 20%;
  }
}

.toolbar-nav {
  display: block;
}

#toggleBtn {
  display: none;
}

header ul {
  margin: 5px 20%;
}

.tech-container {
  width: 50%;
  margin: 0 25%;
}

.availabe {
  display: none;
}

.contact-list,
.contact-links {
  width: 40%;
  margin: 0 30%;
}
